In [1]:
import pandas as pd
from IPython.display import Image

In [2]:
#順序性
#label encoder
from sklearn.preprocessing import LabelEncoder
Image(url='http://cumatrixfile.cupoy.com/00000176E0B0C273000000136375706F795F72656C656173654349/marathon/1610076223161')

In [3]:
#一般性
#get dummies
#pd.get_dummies()
Image(url='http://cumatrixfile.cupoy.com/00000176E0B0C273000000136375706F795F72656C656173654349/marathon/1610076223163')

In [4]:
#dataframe.fillna(method)
#method='ffill'/'bfill'
Image(url='http://cumatrixfile.cupoy.com/00000176E0B0C273000000136375706F795F72656C656173654349/marathon/1610076223171')

# HW

In [5]:
#將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [6]:
q_df.fillna('others',inplace=True)
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [7]:
#更進一步將字串做編碼。
q_df_p = pd.get_dummies(q_df['Profession'])
q_df_p

   engineer  others  teacher
0         0       0        1
1         1       0        0
2         0       1        0
3         1       0        0

In [8]:
pd.concat([q_df,q_df_p],axis=1)

      Sex Profession  engineer  others  teacher
0    male    teacher         0       0        1
1    male   engineer         1       0        0
2  female     others         0       1        0
3  female   engineer         1       0        0

In [9]:
#此時用什麼方式做編碼比較適合?為什麼?
#因各個profession無大小或順序關聯，故一般性的編碼 (One Hot Encoding (Dummies)) 比較適合。