In [1]:
import pandas as pd
from IPython.display import Image

In [2]:
#讀寫 SQL 資料庫
#import data to db
Image(url= "https://lh6.googleusercontent.com/sB6hzKY9ix6Uj6dWEcvpdm3bsW0TXefEN4sSM77IMXtliXrPKvC0RvaMRXW3FT5ZZakpK-IdDPDLjfvCAmKOTbx_KJd5ve_FfuMysGlyq3sJD2sqEubrA-c3JHcJ3foYhse7R_g?t=1611051324305")

In [3]:
#read data from db
Image(url= "https://lh4.googleusercontent.com/r8FSN1LxXcwg0IDYYFxVH-sFW1CBxBjcHAviGKv6vqVOmQylm9BS0bstPPZ1s__tO66b5KKADS5dxX_bb0rNspyB4oLxvHqzsfZWgM5oMgbRw16q1S9bNlWVRmE-HX-0jZiQ6Ts?t=1611051352080")

# HW

In [4]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案
boston = pd.read_csv('boston.csv')
boston.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
boston_save = boston[['CHAS','NOX','RM']]
boston_save.to_excel('boston.xlsx')

In [6]:
boston_read =pd.read_excel('boston.xlsx')
boston_read.head()

   Unnamed: 0  CHAS    NOX     RM
0           0     0  0.538  6.575
1           1     0  0.469  6.421
2           2     0  0.469  7.185
3           3     0  0.458  6.998
4           4     0  0.458  7.147

- 使用 python 讀取資料科學最常用的檔案格式 https://www.itread01.com/content/1545132004.html
- 資料載入, 儲存, 與檔案格式 http://yltang.net/tutorial/dsml/9/
- Python 數據分析之 Pandas 讀寫外部數據文件 https://kknews.cc/zh-tw/code/mlrmok9.html