In [1]:
import pandas as pd
from IPython.display import Image

In [2]:
#增加
#dataframe.insert(column_index,added_column_name,added_value)
Image(url= "https://lh5.googleusercontent.com/X6pR4FjjpP1fH0a3dbzuXMmK9E0trFXkhxv7OSn-9qgVtlNK08fJuQPM0tZdV1UWIHAza3eDw2q_e3xfDG4RCh8SXc21bHkUlVpwH6oV5MmKgjydtaBHihqPm2t4MZGH9KW_UlEi?t=1609901998754")

In [3]:
#刪除
#dataframe.pop()  >>>   return the deleted columns(s)
#del dataframe[deleted_column_name] >>> return the dataframe with column(s) removed

In [4]:
#資料過濾
#dataframe.loc[condition,return_columns(s)]
Image(url= "https://lh4.googleusercontent.com/cJgmTsJn73g7JIO5ZCkAeuka654TO52ZVUEqI1z9nhrjaF2xUqnFJkl4Up03hOKefRNY71G1RH4rQ4EwEPGy-RaklnZh0hlPIUhfeNURysaNqBPm7744Q8rSZunGkz7-sfSXE3vq?t=1610086879775")

In [5]:
#pd.concat([df1,df2],axis=0/1,join='inner'/'outter')
#pd.merge(df1,df2,on='based on which column',how=''inner'/outer'/'left','right')

In [6]:
#df1.join(df2,how="inner"/'outter',lsuffix= , rsuffix= ) >>if column name duplicates, use suffix!
Image(url="https://lh4.googleusercontent.com/VKj5mR8_BaAC8c3exfQdJzJzxBIu7hl-vmVXhW0chl1BYAFgdnwwmzJZ4yG7_WRkdTxzalh4hGuFcvBgfWhmkwMk25Nvi5-RYlWSl_maFyQ9jLfc_BlfefpM3L_pocetMSAswzbP?t=1612270204681")

# HW

In [7]:
#讀取STOCK_DAY_0050_202009.csv
#串聯STOCK_DAY_0050_202010.csv
#並且找出open小於close的資料

In [8]:
d9 = pd.read_csv('STOCK_DAY_0050_202009.csv')
d10 = pd.read_csv('STOCK_DAY_0050_202010.csv')
print(len(d9),len(d10))

22 19

In [9]:
d9_10 = pd.concat([d9,d10],axis=0,ignore_index=True) #ignore_index= True >>> reset index
d9_10.head()

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40

In [10]:
print(len(d9_10))

41

In [11]:
d9_10[d9_10['open']<d9_10['close']]

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00
23  109/10/06  104.00  104.35  103.85  104.25
24  109/10/07  104.00  105.00  103.50  104.80
25  109/10/08  105.45  106.35  105.30  106.20
26  109/10/12  106.70  107.70  106.70  107.05
31  109/10/19  105.65  106.60  105.60  106.60
34  109/10/22  105.70  106.10  105.50  106.10