In [1]:
import pandas as pd
import numpy as np
from IPython.display import Image

In [2]:
#制時間長度的函數.to_period()，參數 freq 代表時間頻率(Y：年、M：月、D：日、H：小時)
#僅抓取 至指定時間
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1610076223243')

In [3]:
rng = pd.date_range('1/1/2020', periods=10, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2020-01-31    0.693815
2020-02-29   -0.407911
2020-03-31   -1.245947
2020-04-30   -1.068325
2020-05-31    1.406823
2020-06-30   -0.944630
2020-07-31   -1.762796
2020-08-31    1.367611
2020-09-30   -0.509753
2020-10-31   -1.562536
Freq: M, dtype: float64

In [4]:
ts.to_period(freq='Y')#只取至年

2020    0.693815
2020   -0.407911
2020   -1.245947
2020   -1.068325
2020    1.406823
2020   -0.944630
2020   -1.762796
2020    1.367611
2020   -0.509753
2020   -1.562536
Freq: A-DEC, dtype: float64

In [5]:
ts.to_period(freq='D')#只取至日

2020-01-31    0.693815
2020-02-29   -0.407911
2020-03-31   -1.245947
2020-04-30   -1.068325
2020-05-31    1.406823
2020-06-30   -0.944630
2020-07-31   -1.762796
2020-08-31    1.367611
2020-09-30   -0.509753
2020-10-31   -1.562536
Freq: D, dtype: float64

In [6]:
ts.to_period(freq='H')#只取至小時

2020-01-31 00:00    0.693815
2020-02-29 00:00   -0.407911
2020-03-31 00:00   -1.245947
2020-04-30 00:00   -1.068325
2020-05-31 00:00    1.406823
2020-06-30 00:00   -0.944630
2020-07-31 00:00   -1.762796
2020-08-31 00:00    1.367611
2020-09-30 00:00   -0.509753
2020-10-31 00:00   -1.562536
Freq: H, dtype: float64

In [7]:
ts.to_period(freq='Q')#只取至季

2020Q1    0.693815
2020Q1   -0.407911
2020Q1   -1.245947
2020Q2   -1.068325
2020Q2    1.406823
2020Q2   -0.944630
2020Q3   -1.762796
2020Q3    1.367611
2020Q3   -0.509753
2020Q4   -1.562536
Freq: Q-DEC, dtype: float64

In [8]:
# .shift() 方法用於執行單純的移動日期。
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1610076223250')

In [9]:
ts.shift(1,freq='M')

2020-02-29    0.693815
2020-03-31   -0.407911
2020-04-30   -1.245947
2020-05-31   -1.068325
2020-06-30    1.406823
2020-07-31   -0.944630
2020-08-31   -1.762796
2020-09-30    1.367611
2020-10-31   -0.509753
2020-11-30   -1.562536
Freq: M, dtype: float64

In [10]:
ts[[0]].shift(1,freq='Q')

2020-03-31    0.693815
dtype: float64

In [11]:
#分時間資料以及字串差別，時間需要使用 pd.Timestamp() 做設定，並不是只使用字串就可以代表時間。
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1610076223251')

In [12]:
#字串與時間轉換
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1610076223252')

In [13]:
# str_date.strftime('%Y-%m-%d')   to string
# pd.to_datetime(str_date)

In [14]:
str_date = '2020-10-10'
stamp_date = pd.to_datetime(str_date)
stamp_date

Timestamp('2020-10-10 00:00:00')

In [15]:
# date.year
stamp_date.year

2020

In [16]:
# date.month
stamp_date.month

10

In [17]:
# date.day
stamp_date.day

10

In [18]:
# date.hour
stamp_date.hour

0

In [19]:
# date.weekday() 0 >>> Monday 6 >>> Sunday...
stamp_date.weekday()

5

In [20]:
# date.weekofyear
stamp_date.weekofyear

41

In [21]:
# timestampe 可直接計算時間差
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1610076223255')

In [22]:
#也可以加工作日天數 two_business_days = 2 * pd.offsets.BDay()

two_business_days = 2 * pd.offsets.BDay() #pd.offsets.BDay() 表一個工作天
stamp_date_add_two_business_days = stamp_date + two_business_days
stamp_date.day_name(), stamp_date_add_two_business_days.day_name()

('Saturday', 'Tuesday')

In [23]:
# 年改 季

s = pd.Series([1, 2], index=pd.period_range('2018-01-01',freq='Y',periods=2))
s

2018    1
2019    2
Freq: A-DEC, dtype: int64

In [24]:
s.resample("Q").asfreq()

2018Q1    1.0
2018Q2    NaN
2018Q3    NaN
2018Q4    NaN
2019Q1    2.0
2019Q2    NaN
2019Q3    NaN
2019Q4    NaN
Freq: Q-DEC, dtype: float64

In [25]:
#Pandas 日期功能、Pandas 時間差（Timedelta）
#https://www.yiibai.com/pandas/python_pandas_date_functionality.html
Image(url='http://cumatrixfile.cupoy.com/00000176E0F09B13000000196375706F795F72656C656173654349/marathon/1611820869731')

# HW

In [26]:
#題目：運下列時間序列資料做運算

index = pd.date_range("1/1/2019", periods=20, freq='D')
series = pd.Series(range(20), index=index)

In [27]:
index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20'],
              dtype='datetime64[ns]', freq='D')

In [28]:
series

2019-01-01     0
2019-01-02     1
2019-01-03     2
2019-01-04     3
2019-01-05     4
2019-01-06     5
2019-01-07     6
2019-01-08     7
2019-01-09     8
2019-01-10     9
2019-01-11    10
2019-01-12    11
2019-01-13    12
2019-01-14    13
2019-01-15    14
2019-01-16    15
2019-01-17    16
2019-01-18    17
2019-01-19    18
2019-01-20    19
Freq: D, dtype: int64

In [29]:
#將所有轉為周資料
index.dayofweek

Int64Index([1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [30]:
#將周資料的值取平均
df = pd.DataFrame({'week':series.index,'value':series})
df

                 week  value
2019-01-01 2019-01-01      0
2019-01-02 2019-01-02      1
2019-01-03 2019-01-03      2
2019-01-04 2019-01-04      3
2019-01-05 2019-01-05      4
2019-01-06 2019-01-06      5
2019-01-07 2019-01-07      6
2019-01-08 2019-01-08      7
2019-01-09 2019-01-09      8
2019-01-10 2019-01-10      9
2019-01-11 2019-01-11     10
2019-01-12 2019-01-12     11
2019-01-13 2019-01-13     12
2019-01-14 2019-01-14     13
2019-01-15 2019-01-15     14
2019-01-16 2019-01-16     15
2019-01-17 2019-01-17     16
2019-01-18 2019-01-18     17
2019-01-19 2019-01-19     18
2019-01-20 2019-01-20     19

In [31]:
df['week'] = df['week'].apply(lambda x: x.week)

In [32]:
df

            week  value
2019-01-01     1      0
2019-01-02     1      1
2019-01-03     1      2
2019-01-04     1      3
2019-01-05     1      4
2019-01-06     1      5
2019-01-07     2      6
2019-01-08     2      7
2019-01-09     2      8
2019-01-10     2      9
2019-01-11     2     10
2019-01-12     2     11
2019-01-13     2     12
2019-01-14     3     13
2019-01-15     3     14
2019-01-16     3     15
2019-01-17     3     16
2019-01-18     3     17
2019-01-19     3     18
2019-01-20     3     19

In [33]:
df.reset_index(drop=True)

    week  value
0      1      0
1      1      1
2      1      2
3      1      3
4      1      4
5      1      5
6      2      6
7      2      7
8      2      8
9      2      9
10     2     10
11     2     11
12     2     12
13     3     13
14     3     14
15     3     15
16     3     16
17     3     17
18     3     18
19     3     19

In [34]:
df.groupby('week').mean()

      value
week
1       2.5
2       9.0
3      16.0